@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: #fff;
    scroll-behavior: smooth;
}

.sarina-regular {
  font-family: "Sarina", cursive;
  font-weight: 400;
  font-style: normal;
}

.max-width-container {
    --max-width: 1440px;
    --padding: 5.5rem;
    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
}


@keyframes wave-animation {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
}

.wave {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
